*{
      background: url("http://img09.deviantart.net/efd5/i/2016/259/c/e/minimalist_wallpaper__by_scourge227-dahvkwa.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.content {
      background-color: rgba(0,0,0,0.7);
}
h1 {
     font-family: 'Superclarendon';
     font-size: 60px; 
     color: DarkSlateGray;
     top: 20%;   
     text-align: center;
}

h2 {
     font-family: 'Superclarendon';
     font-size: 20px;
     color: DarkSlateGray;
     top: 20%;
     text-align: center;
}
h3, h4, h5 {
     font-family: 'Superclarendon';
     font-size: 20px;
     font-style: italic;
     color: DarkSlateGray;
     border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
p {
      font-family: 'Superclarendon';
      color: DarkSlateGray;
}
